# Auto detect text files and perform LF normalization
* text=auto

# // const DEBUG = true;
# // if (DEBUG) console.log(data);

# // // ⚙️ Supabase 設定
# // const SUPABASE_URL = 'https://fsglwszioporinflhcuk.supabase.co';
# // const SUPABASE_KEY =
# //   'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzZ2x3c3ppb3BvcmluZmxoY3VrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA0NzI5ODEsImV4cCI6MjA3NjA0ODk4MX0.dhaiVLec5_C5qDzWG3GJ0bbXKrH0E0QyQUN8Q9fcCGk';
# // const TABLE = 'random_logs';
# // const supabase = window.supabase.createClient(SUPABASE_URL, SUPABASE_KEY);